    @font-face {
        font-family: FE-Font; //Nombre//
        src: url(../Respaldo/Fonts/FE-FONT.TTF);
    }
    @font-face {
        font-family: Rasic-Life; //Subtitulos//
        src: url(../Respaldo/Fonts/rasic_life/Rasic-Life.ttf);
    }
    @font-face {
        font-family: Bruno-ace; //Navbar//
        src: url(../Respaldo/Fonts/BrunoAceSC-Regular.ttf);
    }
    @font-face {
        font-family: Dosis; //Footer//
        src: url(../Respaldo/Fonts/Dosis/Dosis-VariableFont_wght.ttf);
    }
    @font-face {
        font-family: Signika; //Textos//
        src: url(../Respaldo/Fonts/Signika/static/Signika-Regular.ttf);
    }
