$h1-fuentes: 'FE-Font'; //Fuente para el nombre//
$h1-size: 46px;
$color-encabezado: rgb(205, 24, 24) ; //Nombre//
$color-primario: rgb(17, 109, 110); //Fondo//
$color-bg-navbar:rgb(50, 30, 30); //Fondo navbar//
$color-secundario: whitesmoke; //color secundario//
$texto-secundario: 'Rasic-Life'; //Fuente para subtitulos//
$fuente-footer:'Dosis'; //Fuente para footers//
$fuente-parrafos:'Signika'; //Fuente para textos//
$color-links: #5e4352;